/* XS */

[data-role=bootstrap-edit].preview-xs .col-xs-12
{
    max-width: 100% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-11
{
    max-width: 91.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-10
{
    max-width: 83.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-9
{
    max-width: 75% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-8
{
    max-width: 66.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-7
{
    max-width: 58.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-6
{
    max-width: 50% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-5
{
    max-width: 41.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-4
{
    max-width: 33.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-3
{
    max-width: 25% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-2
{
    max-width: 16.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-xs .col-xs-1
{
    max-width: 8.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

/* SM */

[data-role=bootstrap-edit].preview-sm .col-sm-12
{
    max-width: 100% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-11
{
    max-width: 91.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-10
{
    max-width: 83.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-9
{
    max-width: 75% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-8
{
    max-width: 66.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-7
{
    max-width: 58.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-6
{
    max-width: 50% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-5
{
    max-width: 41.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-4
{
    max-width: 33.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-3
{
    max-width: 25% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-2
{
    max-width: 16.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-sm .col-sm-1
{
    max-width: 8.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

/* MD */

[data-role=bootstrap-edit].preview-md .col-md-12
{
    max-width: 100% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-11
{
    max-width: 91.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-10
{
    max-width: 83.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-9
{
    max-width: 75% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-8
{
    max-width: 66.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-7
{
    max-width: 58.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-6
{
    max-width: 50% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-5
{
    max-width: 41.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-4
{
    max-width: 33.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-3
{
    max-width: 25% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-2
{
    max-width: 16.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-md .col-md-1
{
    max-width: 8.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

/* LG */

[data-role=bootstrap-edit].preview-lg .col-lg-12
{
    max-width: 100% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-11
{
    max-width: 91.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-10
{
    max-width: 83.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-9
{
    max-width: 75% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-8
{
    max-width: 66.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-7
{
    max-width: 58.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-6
{
    max-width: 50% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-5
{
    max-width: 41.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-4
{
    max-width: 33.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-3
{
    max-width: 25% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-2
{
    max-width: 16.66666667% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}

[data-role=bootstrap-edit].preview-lg .col-lg-1
{
    max-width: 8.33333333% !important;
    width: 100% !important;
    flex: 0 0 100% !important;
}